@font-face {
    font-family: rg;
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: bold;
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* -------------------------- General Styles -------------------------- */

body {
  font-family: rg, sans-serif;
}
button {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 8px;
  color: #fff;
  background-size: 100% 200%;
  background-image: linear-gradient(to top, #FFC43B, #F5BA30, #FFB504, #F5AD00);
  border: 0;
  padding: 15px 0 12px 0;
  width: 100%;
  transition: all 0.2s;
}
button:hover {
  background-position: 200% 100%;
}
h2 {
  font-family: bold;
  text-align: center;
  font-size: 36px;
  margin: 0 0 40px;
}
h3 {
  font-family: bold;
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
}
p3 {
  font-size: 18px;
  margin-bottom: 30px;
}
h6 {
  font-family: rg;
  text-align: center;
  font-size: 14px;
}
.input {
  background-color: #00000000;
  text-align: center;
  display: block;
  margin: 25px 0;
  padding: 15px 30px 12px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: solid 1px #DFDFDF;
  transition: border 0.2s;
}
.input:focus {
  outline: none;
  border: solid 1px #999;
}
label {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  border: solid 5px #fff;
  background-color: #fff;
  margin: 0 -30px 0 0;
}

/* --------------------------- Main 1st Block --------------------------- */

main {
  background: #fff url(../img/1bg.jpg) center center no-repeat;
}
.header {
  padding: 30px 0px;
}
.header .phone {
  font-family: bold, sans-serif;
  color: #212529;
  text-decoration: none;
  font-size: 20px;
}
h1 {
  font-size: 44px;
  font-family: bold;
  text-transform: uppercase;
}
.block1 p {
  font-size: 25px;
  margin: 30px 0px 40px;
}
.block1 span {
  display: inline-block;
  padding: 20px 42px 17px;
  background-color: #00C939;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
.block1 strong {
  font-family: bold;
  font-size: 25px;
}
p2 {
  display: block;
  text-transform: uppercase;
  font-family: bold;
  font-size: 23px;
  margin: 30px 0px 85px;
}
.main-form {
  text-align: center;
  width: 350px;
  height: 400px;
  background-color: #fff;
  padding: 40px;
}
form {
  position: relative;
}
.mdl {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: #00000050;
}
.mdl-content {
  position: fixed;
  width: 360px;
  text-align: center;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 40px;
}
mdl-close {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: -30px;
  line-height: 0;
  font-size: 40px;
  color: #fff;
}
.mdl-input-area {
  height: 100px;
}
form p4 {
  margin-top: 10px;
}
form button {
  height: 60px;
}
p4 {
  display: block;
  font-size: 11px;
  margin: 30px;
}
@media (min-width: 1400px) {
  .main-form {
    transform: translateX(18%);
  }
}
@media (max-width: 1199px) {
  .header .phone {
    margin-left: 20%;
  }
  .main-form {
    transform: translateX(-15%);
  }
}
@media (max-width: 991px) {
  h1 {
    font-size: 32px;
  }
  .header .phone {
    margin-left: 20%;
  }
  main {
    background-position: top left;
    background-size: cover;
  }
  .block1 {
    text-align: center;
    margin: 0;
  }
  p2 {
    margin: 30px 0px 30px;
  }
  .main-form {
    width: 100%;
    height: 400px;
    transform: none;
  }
}
@media (max-width: 767px) {
  .header button {
    margin-top: 20px;
  }
  .logo {
    margin: 0 auto 20px auto;
    display: block;
  }
  .header .phone {
    font-size: 28px;
    margin: 0;
    display: block;
    text-align: center;
  }
}
@media (max-width: 575px) {
  h1 {
    font-size: 26px;
  }
  .header button {
    margin: 10px auto 0;
    display: block;
    width: 280px;
  }
  .mdl-content {
    width: 95%;
  }
  mdl-close {
    color: #212529;
    right: 5%;
    top: 5%;
    font-size: 50px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin: 0;
  }
}
@media (max-width: 350px) {
  h1 {
    font-size: 22px;
  }
  .block1 p,p2 {
    font-size: 18px;
  }
}

/* ----------------------------- 2nd Block ----------------------------- */

.block2 {
  margin: 80px 0;
}
.block2 .features-block {
  display: block;
  text-align: center;
}
.block2 .features-block h3 {
  font-family: bold;
  font-size: 20px;
}
.block2 .features-img img {
  height: 70px;
  margin: 60px auto;
}
.block2 .features-block p {
  margin-top: 5px;
  font-size: 14px;
  display: inline-block;
  width: 92%;
}
.prev {
  position: absolute;
  z-index: 1;
  height: 60px;
  top: 30%;
  left: -55px;
  transform: translateX(50%);
  margin-left: 10px;
  cursor: pointer;
  opacity: 30%;
  transition: .2s;
}
.next {
  position: absolute;
  z-index: 1;
  height: 60px;
  top: 30%;
  right: -55px;
  transform: translateX(-50%);
  margin-right: 10px;
  cursor: pointer;
  opacity: 30%;
  transition: .2s;
}
.next:active, .prev:active {
  opacity: 100%;
}
@media (max-width: 991px) {
  .block2 h2 {
    font-size: 32px;
  }
}
@media (max-width: 575px) {
  .block2 h2 {
    font-size: 28px;
    margin: 40px 20px;
  }
  .next {
    transform: translateX(-100%);
  }
  .prev {
    transform: translateX(100%);
  }
}
@media (max-width: 350px) {
  .block2 h2 {
    font-size: 24px;
    margin: 40px 20px;
  }
}

/* ----------------------------- 3rd Block ----------------------------- */

.block3 {
  padding: 80px 0;
  background: #fff url(../img/3bg.jpg) center no-repeat;
}
.block3 h2, .block3 h6 {
  color: #fff;
}
.price-block {
  height: 660px;
  width: 350px;
  background-color: #fff;
  text-align: center;
  margin: 80px 12.5px 0;
  padding: 40px;
  box-shadow: 0 14px 21px #00000017;
}
.block3 h5 {
  font-family: bold;
  font-size: 17px;
}
.none-br-text {
  display: block;
}
.br-text {
  display: none;
}
.block3 img {
  display: block;
  height: 182px;
  width: 270px;
  margin: 32px 0;
}
.block3 b {
  font-size: 25px;
}
.block3 ul {
  position: relative;
  left: -3%;
  padding: 0;
  list-style: none;
  font-size: 18px;
  margin-top: 24px;
  height: 185px;
}
.block3 check {
  display: inline-block;
  font-family: bold;
  color: #26650A;
  font-size: 20px;
  transform: translateY(10%);
}
.block3 .price-block button {
  width: 180px;
  height: 60px;
}
@media (min-width: 1400px) {
  .block3 button {
    display: block;
    margin-left: -30%;
  }
  .block3 .price-block button {
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .price-block {
    width: 290px;
  }
  .block3 img {
    height: 122px;
    width: 200px;
  }
  .br-text {
    display: block;
  }
  .none-br-text {
    display: none;
  }
  .block3 ul {
    height: 220px;
  }
}
@media (max-width: 991px) {
  .block3 {
    background: #fff url(../img/3bg.jpg) center repeat;
  }
  .block3 button {
    width: 300px;
    display: block;
    margin: 0 auto;
  }
  .price-block {
    width: 576px;
    height: 730px;
    margin: 30px 0 0;
  }
  .block3 h6 {
    margin: 40px 0;
    font-size: 18px;
  }
  .block3 h5 {
    font-size: 22px;
  }
  .block3 img {
    height: 40%;
    width: 80%;
    margin: 32px auto;
  }
  .br-text {
    display: none;
  }
  .none-br-text {
    display: block;
  }
  .block3 ul {
    height: 170px;
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .block3 img {
    height: 37%;
  }
}
@media (max-width: 575px) {
  .block3 button {
    width: 260px;
  }
  .price-block {
    height: 100%;
    width: 95%;
    display: block;
    margin: 30px auto 0;
  }
}
@media (max-width: 575px) {

}

/* ----------------------------- 4th Block ----------------------------- */

.block4 {
  padding-top: 80px;
  background: #fff url(../img/4bg.jpg) center no-repeat;
}
.reviews-slider {
  margin: 0 auto;
  height: 500px;
  width: 1110px;
  background-color: #fff;
  box-shadow: 0 14px 21px #00000020;
}
.info-img-slider {
  padding: 50px 30px;
}
.block4 .prev2 {
  background: #fff url(../img/big-left-arrow.svg) center no-repeat;
  height: 70px;
  width: 50px;
  position: absolute;
  left: -50px;
  margin: 19.5% 0;
  cursor: pointer;
}
.block4 .next2 {
  background: #fff url(../img/big-right-arrow.svg) center no-repeat;
  height: 70px;
  width: 50px;
  position: absolute;
  right: -50px;
  margin: -23.5% 0;
  cursor: pointer;  
}
.block4 .info {
  padding-left: 20px;
}
.block4 p {
  line-height: 1.2;
  width: 400px;
  font-size: 18px;
}
.ava {
  margin: 20px 0 0 0;
}
.block4 h6 {
  margin: 25px 0 0 20px;
  font-size: 15px;
  text-align: left;
}
.block4 h5 {
  margin: 2px 0 0 20px;
  font-size: 18px;
  font-family: bold;
}
.comm img {
  padding: 12px 10px 0 0;
  width: 500px;
  position: absolute;
}
.comm span {
  font-size: 15px;
  line-height: 1.4;
  font-style: italic;
  display: block;
  padding: 37px 20px 0 20px;
}
.block4 h3 {
  margin: 90px 0 30px 0;
}
.ltlmrg {
  margin-left: 0px;
}
.block4 .name {
  transform: translateX(50%) translateY(50%);
  margin: -8px 30px 0 45px;
  border: solid 5px #FCFCFC;
  background-color: #FCFCFC;
}
.block4 .phone {
  transform: translateX(50%) translateY(50%);
  margin: -8px 70px 0 -9px;
  border: solid 5px #FCFCFC;
  background-color: #FCFCFC;
}
.block4 button {
  width: 255px;
  height: 60px;
  margin: 5px auto 120px;
}
.block4 .hand {
  width: 413px;
  height: 361px;
  position: absolute;
  margin-top: 117px;
  left: -20px;
}
@media (min-width: 1400px) {
  .block4 .name {
    margin: -8px 30px 0 65px;
  }
  .block4 .phone {
    margin: -8px 70px 0 12px;
  }
}
@media (min-width: 1200px) {
  .comm .img1 {
    display: hidden;
  }
  .comm .img2 {
    display: none;
  }
}
@media (max-width: 1199px) {
  .reviews-slider {
    width: 850px;
  }
  .block4 p {
    font-size: 17px;
  } 
  .block4 h6, .block4 h5 {
    margin-left: 30px;
  }
  .comm .img1 {
    display: none;
  }
  .comm .img2 {
    display: hidden;
  }
  .comm img {
    width: 390px;
  }
  .comm span {
    padding: 30px 0px 0 15px;
  }
  .block4 .prev2 {
    margin: 25% 0;
  }
  .block4 .next2 {
    margin: -32% 0;
  }
  .block4 .name {
    margin: -8px 30px 0 20px;
  }
  .block4 .phone {
    margin: -8px 70px 0 -30px;
  }
  .block4 .hand {
    left: -100px;
  }
}
@media (max-width: 991px) {
  .reviews-slider {
    height: 893px;
    width: 650px;
  }
  .fotorama {
    width: 532px;
    display: block;
    padding-left: 30px;
  }
  .block4 {
    background: #fff url(../img/4bg.jpg) center repeat;
  }
  .block4 .prev2 {
    margin: 63% 0;
  }
  .block4 .next2 {
    margin: -72% 0;
  }
  .block4 .info {
    margin: 30px 0 0 20px;
  }
  .block4 .info p {
    font-size: 18px;
  }
  .block4 h6, .block4 h5 {
    margin-left: 20px;
  }
  .comm .img1 {
    display: block;
    width: 515px;
  }
  .comm .img2 {
    display: none;
  }
  .comm span {
    padding: 35px 50px 0 15px;
  }
  .block4 .hand {
    height: 230px;
    width: 276px;
    margin-top: 248px;
    left: 0;
  }
}
@media (max-width: 767px) {
  .reviews-slider {
    width: 450px;
    height: 850px;
  }
  .fotorama {
    width: 400px;
    padding: 0 35px 0 0;
  }
  .block4 .info {
    margin: 30px 0 0 10px;
    padding: 0;
  }
  .block4 .info p {
    font-size: 17px;
  }
  .block4 h6, .block4 h5 {
    margin-left: 30px;
  }
  .comm .img1 {
    display: none;
  }
  .comm .img2 {
    display: block;
    width: 378px;
  }
  .comm span {
    width: 400px;
    padding: 32px 50px 0 15px;
    font-size: 14px;
  }
  .block4 .prev2 {
    margin: 87% 0;
  }
  .block4 .next2 {
    margin: -92% 0;
  }
  .block4 .name {
    margin: -8px 30px 0 14px;
  }
  .block4 .phone {
    margin: -8px 70px 0 -39px;
  }
  .block4 .hand {
    display: none;
  }
  .info-img-slider {
    padding: 15px 30px;
  }
}
@media (max-width: 575px) {
  .reviews-slider {
    width: 100%;
  }
  .fotorama {
    width: 100%;
    padding: 0;
  }
  .block4 .info p{
    width: 100%;
    font-size: 16px;
  }
  .block4 .comm {
    height: 300px;
  }
  .block4 .comm .img2{
    width: 13%;
  }
  .block4 .comm span {
    width: 100%;
    padding: 32px 40px 0 15px;
  }
  .block4 .input {
    margin: 25px auto 0;
    width: 280px;
  }
  .block4 button {
    margin: 40px auto 80px;
  }
  .block4 .name {
    transform: translateX(-50%) translateY(50%);
    margin: -8px 0 0 44%;
  }
  .block4 .phone {
    transform: translateX(-50%) translateY(50%);
    margin: -8px 0 0 44%;
  }
  .block4 .img3 {
    display: none;
  }
  .comm .img2 {
    display: block;
  }
  .block4 .comm span {
    padding: 25px 20px 0 15px;
    width: 100%;
  }
  .block4 .slick-next {
    right: 0;
  }
  .block4 .slick-dots {
    width: 95%;
  }
}
@media (max-width: 402px) {
  .reviews-slider {
    height: 1000px;
  }
  .comm .img3 {
    display: block;
    width: 13%;
  }
  .block4 .img2 {
    display: none;
  }
}
@media (min-width: 402px) {
  .comm .img3 {
    display: none;
  }
}

/* ----------------------------- 5th Block ----------------------------- */

.block5 {
  padding-top: 80px;
  background: #fff url(../img/5bg.jpg) bottom right no-repeat;
  background-position: 120% 100%;
  background-size: 50%;
}
.block5 h6 {
  margin-bottom: 60px;
}
.block5 h3 {
  text-align: left;
  margin: 35px 0 20px 0;
}
.block5 p {
  font-size: 20px;
  line-height: 25px;
}
.block5 .mr-text {
  margin: 0 40px 40px 0;
}
@media (max-width: 991px) {
  .block5 {
    background: 0;
  }
  .block5 img {
    display: block;
    margin: 0 auto;
  }
  .block5 .mr-text {
    margin: 0 0 80px;
  }
  .block5 h3, .block5 p {
    text-align: center;
  }
  .block5 h6 {
    font-size: 18px;
  }
}

/* ----------------------------- 6th Block ----------------------------- */

.block6 {
  padding: 80px 0 140px;
  background-color: #F5F5F5;
}
.block6 h2 {
  color: #008100;
  font-size: 44px;
  margin: 0 0 32px;
}
.block6 h6 {
  margin: 0 0 100px;
}
.block6 .mr-text {
  margin-top: 90px;
}
.block6 h5 {
  font-family: bold;
  font-size: 14px;
  margin: 17px 0 0 -30px;
}
.block6 p {
  font-size: 14px;
  margin: 0 0 0 -30px;
  line-height: 15px;
}
@media (max-width: 1199px) {
  .block6 h5, .block6 p {
    margin-left: -15px;
    width: 160px;
  }
}
@media (max-width: 991px) {
  .block6 {
    padding: 80px 0 50px;
  }
  .block6 h6 {
    font-size: 18px;
  }
  .block6 h5, .block6 p {
    margin-left: -50px;
    width: auto;
    font-size: 18px;
    line-height: 22px;
  }
  .block6 img {
    margin-bottom: 70px;
  }
  .block6 .mr-text {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .block6 h5, .block6 p {
    margin-left: -100px;
    width: auto;
  }
}
@media (max-width: 575px) {
  .block6 h5, .block6 p {
    margin-left: -5%;
  }
  .block6 img {
    display: block;
    margin: 0 auto 50px;
  }
}

/* ----------------------------- 7th Block ----------------------------- */

.block7 {
  margin: 100px 0;
  position: relative;
}
.block7 h2 {
  margin: 0 0 80px 0;
}
.solution {
  border: solid 3px #008100;
  height: 362px;
  padding: 40px 35px;
}
.problems {
  border: solid 3px #E9E9E9;
  height: 362px;
  padding: 40px 35px;
}
.problems h4 {
  font-family: bold;
  font-size: 20px;
  color: #ACACAC;
}
.solution h4 {
  font-family: bold;
  font-size: 20px;
}
.block7 ul {
  list-style: none;
  padding: 0;
  font-size: 14px;
}
.block7 li {
  padding: 0;
  height: 50px;
}
.block7 cross{
  display: inline-block;
  color: #DE1A1A;
  font-size: 40px;
  transform: translateY(-7%);
}
.block7 check {
  display: inline-block;
  color: #26650A;
  font-size: 25px;
  font-family: bold;
  transform: translateY(15%);
}
.block7 p {
  width: 350px;
  position: relative;
  left: 9%;
  bottom: 50%;
}
.block7 .problems p {
  bottom: 90%;
}
.block7 .woman {
  top: 18%;
  display: block;
  left: 40%;
  right: 60%;
  position: absolute;
  transform: translateX(50%);
}
@media (min-width: 1400px) {
  .block7 .woman {
    left: 42%;
    right: 58%;
  }
}
@media (min-width: 1600px) {
  .block7 p {
    width: 420px;
  }
  .block7 .woman {
    left: 43%;
    right: 57%;
  }
}
@media (min-width: 2000px) {
  .block7 .woman {
    left: 45%;
    right: 55%;
  }
}
@media (max-width: 1199px) {
  .block7 cross{
    transform: translateY(-38%);
  }
  .block7 check {
    transform: translateY(-25%);
  }
  .problems, .solution {
    height: 400px;
  }
  .block7 .problems p {
    bottom: 80%;
  }
  .block7 li {
    transform: translateY(30%);
    height: 80px;
  }
  .block7 p {
    width: 300px;
  }
  .block7 .woman img {
    width: 200px;
    height: 420px;
  }
  .block7 .woman {
    top: 34%;
    display: block;
    left: 41%;
    right: 59%;
  }
}
@media (max-width: 991px) {
  .block7 .woman {
    display: none;
  }
  .problems {
    margin-bottom: 30px;
  }
  .block7 cross{
    transform: translateY(-18%);
  }
  .block7 check {
    transform: translateY(15%);
  }
  .problems, .solution {
    height: 352px;
  }
  .block7 .problems p {
    bottom: 90%;
  }
  .block7 li {
    height: 60px;
  }
  .block7 p {
    left: 6%;
    width: 550px;
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .block7 p {
    width: 400px;
  }
}
@media (max-width: 575px) {
  .problems, .solution {
    padding: 30px 25px;
    width: 95%;
    height: 400px;
    margin: 0 auto 30px;
  }
  .block7 p {
    width: 300px;
    left: 10%;
  }
  .block7 li {
    height: 85px;
  }
  .block7 .problems p {
    bottom: 70%;
  }
  .block7 cross{
    transform: translateY(-29%);
  }
  .block7 check {
    transform: translateY(-30%);
  }
}
@media (max-width: 400px) {
  .problems, .solution {
    padding: 30px 15px;
    width: 95%;
    height: 510px;
    margin: 0 auto 30px;
  }
  .block7 p {
    width: 250px;
    left: 10%;
  }
  .block7 li {
    height: 110px;
  }
  .block7 .problems p {
    bottom: 70%;
  }
  .block7 cross{
    transform: translateY(-57%);
  }
  .block7 check {
    transform: translateY(-60%);
  }
}

/* ----------------------------- 8th Block ----------------------------- */

.block8 {
  padding: 120px 0 60px;
  background: #fff url(../img/8bg.jpg) center no-repeat;
}
.block8 img {
  margin: 50px auto 30px;
}
.block8 h3 {
  text-align: center;
  font-size: 20px;
  margin: 10px;
}
.block8 p {
  text-align: center;
  font-size: 20px;
  margin: 0;
  line-height: 1.5;
}
.block8 a {
  color: #00B800;
}
.block8 .features-block a {
  margin: 10px 0 70px 0;
  display: block;
  text-align: center;
  font-size: 20px;
}
@media (max-width: 991px) {
  .block8 h6 {
    font-size: 18px;
  }
  .block8 {
    background: #fff url(../img/8bg.jpg) center repeat;
  }
}

/* ----------------------------- 9th Block ----------------------------- */

.block9 {
  padding: 120px 0 140px;
  background: #fff url(../img/9bg.jpg) center no-repeat;
}
.block9 p {
  margin-top: 25px;
  font-size: 25px;
}
.block9 p3 {
  display: block;
  line-height: 1.1;
}
@media (max-width: 991px) {
  .block9 {
    background: #fff url(../img/9bg.jpg) left no-repeat;
    background-size: 400%;
  }
  .block9 h1 {
    text-align: center;
  }
  .block9 p {
    text-align: center;
    padding: 20px 0 50px;
  }
}
@media (max-width: 767px) {
  .block9 {
    padding: 100px 0 100px;
    background-size: 550%;
  }
}
@media (max-width: 575px) {
  .block9 {
    background-size: 1000%;
  }
}
@media (max-width: 350px) {
  .block9 {
    background-size: 1100%;
  }
  .block9 p {
    font-size: 18px;
  }
}